@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: black;
    font-family: 'Roboto', serif;
    font-size: 28px;
    background-image: url("../images/great-gable-1056451.jpg");
    background-color: aquamarine;
    position: relative;
}
h1{
    font-family: 'Oswald' sans-serif;
    text-align: center;
}
.main{
    padding: 10px;
    background: #003f4017;
    border-radius: 10px;
    box-shadow: 2px 5px 10px #34495e;
    width: 700px;
    height: 500px;
    justify-content: center center;
    align-items: center;
    position: relative;   
    margin: 50px;
}
#result{
    border-radius: 5px;
    font-size: 35px;
}
button{
    border: 1px solid #34495e;
    background: #1abc9c;
    border-radius: 5px;
    font-size: 28px;
    padding: 10px;
    margin: 25px;
}
button:hover{
    cursor: pointer;
}
/* Styling the modal */
.modal-container{
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 300px;
    height: 100px;
    border: 1px solid #555;
    padding: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    background: #999;
}
.close{
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 30px;
}
.close:hover{
    cursor: pointer;
}