@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: black;
    font-family: 'Roboto', serif;
    font-size: 28px;
    background-image: url("../images/great-gable-1056451.jpg");
    background-color: aquamarine;
    position: relative;
}
h1{
    font-family: 'Oswald' sans-serif;
    text-align: center;
}
.main{
    padding: 10px;
    background: #003f4017;
    border-radius: 10px;
    box-shadow: 2px 5px 10px #34495e;
    width: 700px;
    height: 500px;
    position: relative;   
    margin: 50px;
}
.game{
    font-size: 80px;
    position: relative;
    text-align: center;
}
#result{
    border-radius: 5px;
    font-size: 35px;
}
button{
    border: 1px solid #34495e;
    background: #1abc9c;
    border-radius: 5px;
    font-size: 28px;
    padding: 10px;
    margin: 25px;
}
button:hover {
    cursor: pointer;
}
.boxes {
    display: flex;
    width: 100%;
}
.progresBar{
    border: 1px solid #999;
    border-right: none;
    position: relative;
    border-radius: 4px;
}
.progress-inner{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: #1abc9c;
    opacity: .57;
    transform: scaleX(0);
    transform-origin: center left;
    transition: transform .4s ease-out;
}
.box{
    height: 40px;
    border-right: 1px solid #999;
    flex: 1;
}

.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, .99);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all .4s ease-out;
    transform: scale(1.2);
}

body.overlay-cover .overlay{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}
/* Styling the modal */
.modal-container{
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 80%;
    height: 100px;
    border: 1px solid #555;
    border-radius: 10px;
    padding: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    background: #999;
    display: none; 
}
.close{
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 30px;
}
.close:hover{
    cursor: pointer;
}